body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*GRID GERAL AQUI inicio-----------------------------------------*/
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px; /*p/ definir a qtidade de colunas do site, que são 3*/
  grid-template-areas:  /*defindo as areas*/
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}
.header {
  grid-area: header; /*posicionando nas area*/
}
.sidenav {
  grid-area: sidenav;
}
.content {
  grid-area: content;
}
.anuncios {
  grid-area: anuncios;
}
.footer {
  grid-area: footer;
}
/*GRID GERAL AQUI FIM---------------------------------------------*/

/*HEADER*/
.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto; /*marca site na esquerda e nav na direita*/
  align-items: center;
}
.logo {
  max-width: 200px; /*largura max do logo*/
}

header nav ul {
  display: flex; /*p deixar um do lado do outro*/
  flex-wrap: wrap;
}
header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1); /*preto bem opaco*/
  border-radius: 5px;
  transition: 0.1s; /*a saída do mouse de cima do a fica mais suave*/
}
.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*o + aqui seria como "todo li que vier após um li, eu quero add esse parametro"*/
.header li + li {
  margin-left: 30px;
}

/*SIDENAV*/
.sidenav {
  background: #fafbfc;
  padding: 30px;
}
.sidenav li a {
  display: block;
  min-width: 60px; /*se ficar menor que 60px ele começa a destruir a img*/
  max-width: 100px;
  margin: 0 auto 30px auto; /*topo 0px. direita auto. bottom 30px. esquerda auto */
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); /*sombra escura c/opacidade*/
  transition: 0.1s ease-out; /*ease-out é p ela sair*/
}
.sidenav li a:hover {
  background: #b07dfb;
}

/*CONTENT*/
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
/*CLASSE GERAL(p poder ser usada sempre no site)*/
.col-wide {
  grid-column: 1 / -1; /*uma coluna que pega de uma ponta a a ponta*/
}
/*-------------------------------------------------------------------*/

.img-1 {
  grid-row: span 2; /*a img 1 se expande por 2linhas*/
  align-self: end; /*vertical é align. horizontal é justify, falar com item especifico é self, falar com todos itens é items*/
}
.img-2 {
  align-self: end;
}

/*ESTILOS CONTENT*/
p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em; /*diminuir o espaçamento entes letras*/
  color: rgba(0, 0, 0, 0.7);
}
/*falar com o p que vem após o p*/
.informacoes p + p {
  margin-top: 30px;
}

/*TITULO*/
.titulo {
  color: #b07dfb;
}
.titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700; /*bold, valor da tipografia escolhida*/
}
.titulo span {
  font-size: 0.875em; /*+/- 14px*/
  font-style: italic;
}

/*CARACTERISTICAS (SÃO OS KG)*/
.caracteristiticas {
  display: flex; /*PQ AQUI QUERO UM ITEM DO LADO DO OUTRO!*/
  align-items: flex-start; /*alinhas os itens ao inicio*/
}
/*p/falar só com as div dentro*/
.caracteristiticas > div {
  width: 80px; /*largura dele*/
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristiticas > div:first-child {
  margin-right: 30px; /*dá uma margem na direita apenas na primeira div*/
}
.caracteristiticas span {
  display: block; /*p pegar de ponta a ponta, fazendo o kg e age cair p linha de baixo*/
  color: #b07dfb;
}
.numero {
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}
.rotulo {
  background: white;
  border-radius: 0 0 5px 5px;
  /* padding: 50px 0;  */
  position: relative;
  top: 2px; /*crescer 2px e esconde o a quina roxa que tava vazando no kg*/
}

.destaque {
  font-size: 0.875em;
  color: #b07dfb;
  max-width: 16em; /*p não esticar de ponta a ponta, se manter com 16em*/
}
.citacao,
.atributos {
  align-self: start;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}
.citacao p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto; /*p alinhar ao centro*/
  color: white;
}
.atributos li {
  color: white;
  font-family: courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}
