body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Vollkorn", Georgia, serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*GRID GERAL AQUI inicio-----------------------------------------*/
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px; /*p/ definir a qtidade de colunas do site, que são 3*/
  grid-template-areas:  /*defindo as areas*/
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}
.header {
  grid-area: header; /*posicionando nas area*/
}
.sidenav {
  grid-area: sidenav;
}
.content {
  grid-area: content;
}
.anuncios {
  grid-area: anuncios;
}
.footer {
  grid-area: footer;
}
/*GRID GERAL AQUI FIM---------------------------------------------*/

/*HEADER*/
.header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto; /*marca site na esquerda e nav na direita*/
  align-items: center;
}
.logo {
  max-width: 200px; /*largura max do logo*/
}

header nav ul {
  display: flex; /*p deixar um do lado do outro*/
  flex-wrap: wrap;
}
header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0, 0, 0, 0.1); /*preto bem opaco*/
  border-radius: 5px;
  transition: 0.1s; /*a saída do mouse de cima do a fica mais suave*/
}
.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*o + aqui seria como "todo li que vier após um li, eu quero add esse parametro"*/
.header li + li {
  margin-left: 30px;
}

/*SIDENAV*/
.sidenav {
  background: #fafbfc;
  padding: 30px;
}
.sidenav li a {
  display: block;
  min-width: 60px; /*se ficar menor que 60px ele começa a destruir a img*/
  max-width: 100px;
  margin: 0 auto 30px auto; /*topo 0px. direita auto. bottom 30px. esquerda auto */
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15); /*sombra escura c/opacidade*/
  transition: 0.1s ease-out; /*ease-out é p ela sair*/
}
.sidenav li a:hover {
  background: #b07dfb;
}

/*CONTENT*/
.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
